<p>{{items}}</p>
<input type="text" [(ngModel)]="newItem">
<!--<input type="text" (input)="onAddCartBtn($event)" [value]="items">-->
<button (click)="onItemChange()" class="btn" [ngClass]="{'btn-primary': newItem !== '', 'btn-default': newItem === ''}">>Add Item</button>

<hr>

<!-- show list of all the elements -->
<ul class="list-group">
	<li
		class="list-group-item"
		*ngFor="let item of items; let i = index"
		[ngStyle]="{backgroundColor: i % 2 === 0 ? 'yellow' : 'blue'}">{{item}}</li>
</ul>