<!--<div class="container">
  <h1>Hello Angular</h1>

  <hr>
  <button (click)="toggleCards()">Toggle Cards</button>
  <hr>
  &lt;!&ndash;<app-form></app-form>&ndash;&gt;
  <div *ngIf="toggle; else noCards">
    <app-card
      *ngFor="let itemCard of cards"
      [card]="itemCard"
    ></app-card>
  </div>

  <ng-template #noCards>
    <p>Cards are hidden</p>
  </ng-template>
</div>-->
<div class="" style="text-align: center">
  <h1>Welcome to {{title}}</h1>

  <app-dashboard></app-dashboard>
</div>

<app-user [name]="rootName" (nameChanged)="onNameChanged($event)"></app-user>
<!--<app-cart [items]="rootItems" (itemChange)="onItemWasAdded($event)"></app-cart>-->
<!--<app-user-detail></app-user-detail>-->